---
import AboutHeroImage from '../assets/bart.jpeg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="General Information"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 26 2025')}
	heroImage={AboutHeroImage}
>
	<h2>Main Modes of Getting Around</h2>
	<h3>Public Transportation</h3>
	<p>The following are the ways to get around cheaply. You can access them via a Clipper Card. These cards are available at Bart Stations, as well as other retailers (some Walgreens). Go to the site to find locations. Note, the Clipper Card actually serves ~24 different public transporttation agencies, but those most relevant to The Beast are listed below:
	</p>
	<ul>
	    <li><a href="https://www.bart.gov/" target="_blank" >The Bart</a> - This is a subway type train that runs in, across and out of San Francisco. It connects the area Southwest starting at Millbrae, through South San Francisco, to San Francisco where it goes underground traveling under Market Street, then under the SF Bay to the "East Bay" area, where various lines travel in different directions in the East Bay, including over the hills to places such as Concord, the home of Monsters</li>
	    <li><a href="https://www.sfmta.com/muni-transit" target="_blank">SF Muni</a> - Bus and Trolley systems within San Francisco, including the Rice-a-Roni</li>
		<li><a href="https://www.actransit.org/" target="_blank">AC Transit</a></li>
		<li>SF Ferry and various other ferries</li>
	</ul>

    <h3>Private Transportation</h3>
    <p>App driven cars, you know these:</p>
    <ul>
        <li><a href="https://www.lyft.com/" target="_blank">Lyft</a></li>
        <li><a href="https://www.uber.com/" target="_blank">Uber</a></li>
        <li><a href="https://waymo.com/" target="_blank">Waymo</a></li>
    </ul>
    <p>But note, recent changes in algorithms have made pricing much different. Sometimes, one can be half they price of another, so I tend to check all of them (well, I haven't tried Waymo).</p>

	<h3>Getting to and from the Airports</h3>
	<p>
	You can easily get to and from Oakland (OAK) and San Francisco (SFO) by Bart. In neither case do you need to leave the airport.
	</p>

	<p>
    <strong>From Oakland</strong> - Just go outside, you'll see a what looks like a long white bridge in front of Terminal 1. That's a minibart that takes you to the main platform. You don't need to pay on that side, once you go to the main platform they will have the machines there before the gates to get to the main Bart platfrom.
	</p>

	<p>From here, you can get a Bart Card at one machine - and then charge up the card via cash or credit card. Choose "Add cash value". Then just tag the card at the gates on the round circle. There usually is a larger gate for luggage/handicap.
	</p>

	<p>
	From here if going to SF, it's easiest to take the Green or Blue lines going towards Daly City, as they are direct. Use <a href="https://www.google.com/maps" target="_blank">Google Maps</a> or the <a href="https://www.bart.gov/planner" target="_blank">Bart Trip Planner</a> to get more details. Also, check out the <a href="">Bart Map</a> to familiarize yourself. The stations with the circles connected by a line have timed transfers where you walk across the platform onto the next train.
	</p>

	<p>
    <strong>From SFO</strong> - The actual Bart pulls into the airport. Again, checkout <a href="https://www.google.com/maps" target="_blank">Google Maps</a> or the <a href="https://www.bart.gov/planner" target="_blank">Bart Trip Planner</a> to get more details. Here again, you can buy your clipper cards and charge them up before going thru the gates.
	</p>

	<h2>General Navigation</h2>

	<p>
	I tend to use <a href="https://www.google.com/maps" target="_blank">Google Maps</a>, most of the time, but when taking buses sometimes it seems they will miss, so checking out the trip planners on Bart or SF Muni may be helpful.
	</p>
</Layout>
