---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Visitor from Another Realm!</h1>
			<p>
				Welcome to the official SFBeast visitation site. The Beast is coming to SF, so this is an informational page for his arrival.
			</p>
			<p>The Site includes info on:</p>
			<ul>
    			<li>Transportion</li>
    			<li>Different Areas</li>
    			<li>Places to Eat</li>
    			<li>Things to Do</li>
    			<li>Bars</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
